<!--The content below is only a placeholder and can be replaced.-->
<div class="base">
  
<div class="box">
  <div class="headerdiv">
  <div class="headerdiv">
  <img src="../assets//images/5195991.png" width="80px" height="80px"/>
</div>
<div class="headerdivmiddle" >
    Canada's 911 Ride Foundation <br/>
    Registration Form 
    <h3> June 8th - 9th 2019   Cape Breton, NS </h3>
</div>
<div class="headerdivright">
    Canada's 911 Ride Foundation - Atlantic <br/>
    405 Frenette Avenue <br/>
Moncton, NB <br/>
E1H 3S5
</div>

</div>



<div class="headerdiv">
  <form  >
    
    <input type="text" name="" placeholder="First Name"/>
    <input type="text" name="" placeholder="Last Name"/>

  </form>
</div>


  
</div>

<router-outlet></router-outlet>
<!-- </div> -->